*{margin: 0px; padding: 0px;}


.main{
  padding-top: 50px;
  padding-bottom: 50px;
}

.ownPic{
  float: none;
}


.ownPic img{
  width: 200px;
  height: 200px;
  float: right;
  position: absolute;
  margin: -50px 800px 0px 800px;
}
